* {
    padding: 0;
    margin: 0;

}
body {
    background-color: #2F2E41;
    font-family: "JetBrains Mono", monospace;
}

.page {
    width: 1092px;
    margin: auto;
    padding-top: 71px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 64px;
    font-size: 14px;
    line-height: 25px;
}

a {
    text-decoration: none;
    color: #fff;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

main img {
    width: 400px;
}

section {
    width: 627px;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: 100px auto 157px;
}

h1 {
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
}

h1 span {
    color: #00BFA6;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: normal;
    color: #C2C2C2;
}

p span {
    color: #00BFA6;
    font-weight: bold;
    line-height: 28px;
}

footer {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-top: 27px;
}

footer p {
    font-family: "JetBrains Mono", monospace;
}

#line {
    width: 568px;
    height: 0;
    border-top: 1px solid #00BFA6;
    margin: auto;
}
#cadeado {
    position: fixed;
    left: 20px;
    bottom: 20px;
}